<div class="index-container">
  <% @cats.each do |cat| %>
    <div class="row">
      <div class="span5">
        <%= image_tag photo_cat_path(cat) %>
      </div>
      <div class="span5">
        <div class="cat-bio cat-index">
          <h3><%= link_to cat.name, cat_path(cat) %></h3>
          <p>age: <%= cat.age %> | breed: <%= cat.breed %></p>
          <p><%= pluralize(cat.average_rating, 'seventh') %> cat out of <%= pluralize(cat.total_ratings, 'time') %> rated.</p>
        </div>
        <% unless session["cat_#{cat.id}"] == "rated" %>
          <%= simple_form_for @rating, :url => rating_cat_path(cat), :id => "cat-#{cat.id}" do |f| %>
          <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :rating,
                          :label => "Amount Cat",
                          :as => :radio_buttons,
                          :item_wrapper_class => 'inline',
                          :collection => 1..7 %>
              <%= f.submit "meow", :class => "btn btn-primary" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>