<div class="cat-details">
  <% @cats.each do |cat| %>
    <%= image_tag photo_cat_path(cat) %>
    <br>
    <p>name: <%= cat.name %> | age: <%= cat.age %> | breed: <%= cat.breed %></p>
    <p>Average rating: <%= cat.average_rating %>, Times rated: <%= cat.total_ratings %></p>

    <% unless session[cat.id] == "rated" %>
      <%= form_for @rating, :url => rating_cat_path(cat), :id => "cat-#{cat.id}" do |f| %>
        <% (1..7).each do |num| %>
          <%= f.label :rating, "#{num}" %>
          <%= f.radio_button :rating, "#{num}" %>
        <% end %>
        <br>
        <%= f.submit "meow" %>
      <% end %>
    <% end %>
  <% end %>
</div>