<%= simple_form_for @cat do |f| %>
<%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :breed %>
    <%= f.input :age %>
    <%= f.file_field :picture %>

    <%= f.button :submit, "meow", :class => 'btn btn-primary' %>
  </div>
<% end %>
