<!DOCTYPE html>
<html>
<head>
  <title>Cats</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% unless current_page?(new_cat_path) %>
    <%= button_to "New Cat!", new_cat_path, :method => "get" %>
  <% end %>
<%= yield %>

</body>
</html>
